@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-file-input {
  position: absolute;
  top: -9999px;
}

.itemsCustomStyle {
  position: relative !important;
}

.dragging {
  transform: translateX(0);
  transition: transform 10s ease-out;
}